<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Deals</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/saved.css">
    <link rel="stylesheet" href="/public/product.css">
</head>
<body class="saved_body">
    <!-- navbar -->
    <%- include ('navbar_logged') %>

    <h1 class="saved_header">View all your saved Deals</h1>

    <% if (savedDeals.length === 0) { %>
        <p class="no-deals">No saved deals found</p>
    <% } else { %>
        <div id="saved_deals_container">
            <% savedDeals.forEach((deal) => { %>
                <div class="deal-container">
                    <div class="deal-image">
                      <img src="<%= deal.image %>" alt="Product Image">
                    </div>
                    <div class="deal-info">
                      <h2><%= deal.text %></h2>
                      <p><%= deal.info %></p>
                      <p>Price: £<%= deal.rrp %> <span class="saving">Save <%= deal.saving %>%</span></p>
                      <p>Voucher Code: <%= deal.voucher %></p>
                      <a href="<%= deal.url %>" target="_blank" class="get-deal-btn">GET DEAL* </a>
                      <a href="/delete?id=<%= deal.id %>" class="delete-deal-btn">DELETE</a>
                      <span class="like-count"> <%= deal.likes %> </span>
                    </div>
                </div> 
            <% }) %>
        </div>
    <% } %>

    <script>
        // Fetch and Display Saved Deals
        function fetchAndDisplaySavedDeals() {
            fetch('/get_saved_deals')
            .then((response) => response.json())
            .then((savedDeals) => {
                // Loop through savedDeals and render them in the template
                const savedDealsContainer = document.getElementById('saved_deals_container');
                savedDeals.forEach((deal) => {
                    const dealElement = document.createElement('div');
                    dealElement.classList.add('deal-container');
                    savedDealsContainer.appendChild(dealElement);
                });
            })
            .catch((error) => {
                console.error('Failed to fetch saved deals:', error);
            });
        }

    </script>

    <!-- delete deal -->
    <script>
        $(document).ready(function () {
          $('.delete-deal-btn').on('click', function () {
            const dealId = $(this).data('deal-id');
      
            // Send an AJAX request to the server to delete the deal
            $.ajax({
              method: 'DELETE',
              url: `/saved-deals/${dealId}`,
              success: function (response) {
                // Refresh the page or remove the deleted deal from the view
                location.reload();
              },
              error: function (error) {
                console.log('Error deleting the deal:', error);
              }
            });
          });
        });
      </script>

    <!-- footer -->
    <%- include ('footer') %>
</body>
</html>