<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/public/product.css">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <!-- navbar -->
    <% if (loggedIn) { %>
        <%- include ('navbar_logged') %>
      <% } else { %>
        <%- include ('navbar') %>
      <% } %>
      
    <h1>EXPLORE OUR RANGE OF DEALS ADDED BY THE COMMUNITY</h1>
    <!-- filter menu -->
    <div class="filter-menu">
        <div class="filter-option">
            <label for="city-filter">City:</label>
            <select id="city-filter">
                <option value="">All</option>
                <option value="city1">London</option>
                <option value="city2">Windsor</option>
                <option value="city3">Dublin</option>
                <option value="city4">Belfast</option>
                <option value="city5">Drogheda</option>
                <option value="city6">Banbridge</option>
            </select>
        </div>
        <div class="filter-option">
            <label for="saving-filter">Saving:</label>
            <select id="saving-filter">
                <option value="">All</option>
                <option value="saving1">0</option>
                <option value="saving2">15</option>
                <option value="saving3">20</option>
                <option value="saving3">25</option>
            </select>
        </div>
        <div class="filter-option">
            <label for="category-filter">Category:</label>
            <select id="category-filter">
                <option value="">All</option>
                <option value="category1">Eating out</option>
                <option value="category2">Entertainment</option>
                <option value="category3">Groceries</option>
            </select>
        </div>
        <button class="filter-button" onclick="applyFilter()">Filter</button>
    </div>
    <!-- deals -->
    <% rowdata.forEach((deal) => { %>
        <div class="deal-container" data-deal-id="<%= deal.id %>">
          <div class="deal-image">
            <img src="<%= deal.image %>" alt="Product Image">
          </div>
          <div class="deal-info">
            <h2><%= deal.text %></h2>
            <p><%= deal.info %></p>
            <p>Price: £<%= deal.rrp %> <span class="saving">Save <%= deal.saving %>%</span></p>
            <p>Voucher Code: <%= deal.voucher %></p>
            <a href="<%= deal.url %>" target="_blank" class="get-deal-btn">GET DEAL* </a>
            <a href="#" class="save-btn">SAVE DEAL </a>
          </div>
        </div>
      <% }) %>
      
    <!-- js for filter options -->
    <script>
        function filterImages() {
            var cityFilter = document.getElementById('city-filter').value;
            var savingFilter = document.getElementById('saving-filter').value;
            var categoryFilter = document.getElementById('category-filter').value;

            var imageItems = document.getElementsByClassName('all-d-img');

            for (var i = 0; i < imageItems.length; i++) {
                var imageItem = imageItems[i];
                var city = imageItem.getAttribute('data-city');
                var saving = imageItem.getAttribute('data-saving');
                var category = imageItem.getAttribute('data-category');

                if (
                    (cityFilter === '' || cityFilter === city) &&
                    (savingFilter === '' || savingFilter === saving) &&
                    (categoryFilter === '' || categoryFilter === category)
                ) {
                    imageItem.style.display = 'block';
                } else {
                    imageItem.style.display = 'none';
                }
            }
        }

        function applyFilter() {
            filterImages();
        }
    </script>
      <!-- footer -->
    <%- include ('footer') %>
</body>
</html>